:root {
  --text: #110701;
  --background: #fef6f1;
  --primary: #4f718b;
  --secondary: #d5b6a3;
  --accent: #cf9773;
}

#root {
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  margin: 2rem;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background)
}

.title-h1 {
  color: var(--primary);
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 2.5rem;
}

/* Buttons */
.active-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.addtask-btn {
  background-color: var(--primary);
  border: none;
  padding: 1em 2em;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

select {
  appearance: none;
  background-color: color-mix(in srgb, var(--primary) 40%, white);
  padding-left: 0.5rem;
  border-radius: 4px;
  width: 200px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75em center;
}



.task-container {
  padding: 2rem 2rem;
  background-color: rgb(232, 231, 231);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* Card Styling */
.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: color-mix(in srgb, var(--primary) 40%, white);
  padding: 1rem;
  border-radius: 6px
}

.left-card-content {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: .25rem;
}

.task-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-title {
  font-size: 1rem;
  margin: 0;
}

.card-date {
  margin: 0;
  font-size: 0.6rem;
  padding: 0;
  text-align: left;
}

.input-checkbox {
  height: 1.5rem;
  width: 1.5rem;
}

.trash-btn,
.edit-btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.right-card-content {
  display: flex;
  gap: 0.25rem;
}

